<div class="pronita-appmain">
		
		<!-- <div class="col-md-5 vertical-divide-abs"></div> -->
	<div class="pronita-app">
		<div class="container">
			<div class="col-md-2 side-walks">
				<div class="horizontal-divide"></div>
				<div class="no-padding"><h2>get app</h2></div>
			</div>
			<div class="col-md-10 info-place">
				<div class="col-md-12">
					<h2>Get your own copy of the Pronita App Now!</h2>
				</div>
				<div class="col-md-12 app-stores">
					<div class="col-md-7 no-padding"><span><img src="img/playstorefull.png" /></span><span><img src="img/appstorefull.png" /></span></div>
				</div>
					
			</div>
		</div>
	</div>
</div>