<footer>
	<div class="down-footer">
		<div class="container">
			<div class="col-md-4 footer-first">
				<div class="col-md-12">
					<h2>Subscribe to our Newsletter</h2>
				</div>
				<div class="col-md-12">
					<!-- Newletter subscribtion comes here -->
					<input type="text" placeholder="EMAIL" class="newsletter-email" />
					<input type="submit" value="&rarr;" class="newsletter-btn">
				</div>
				<div class="col-md-12 social-foot">
					<!-- Social media icons -->
					<span><img src="img/facebook.png" /></span>
					<span><img src="img/twitter.png" /></span>
				</div>
			</div>
			<div class="col-md-5 footer-second">
				<div class="col-md-12">
					<ul>
						<li>how it works</li>
						<li>faqs</li>
						<li>terms</li>
						<li>contact</li>
					</ul>
				</div>
				<!-- <div class="col-md-8 vertical-divide"></div> -->
				<div class="col-md-12">
					<ul>
						<li>men</li>
						<li>women</li>
						<li>unisex</li>
					</ul>
				</div>
				<div class="col-md-12 cards">
					<!-- Cards Icons -->
					<span><img src="img/visa.png" /></span>
					<span><img src="img/mastercard.png" /></span>
					<span><img src="img/verve.png" /></span>
				</div>
			</div>
			<div class="col-md-3 footer-third">
				<div class="col-md-12 logo-bottom">
					<img src="img/Pronita-logo-black.png" />
				</div>
				<div class="col-md-12">
					<p>&copy;Copyright 2016 | <strong>Pronita</strong>
				</div>
			</div>
		</div>
	</div>
</footer>