<div class="">
	
	<div class="menu-head">
			<div class="container">
				<nav class="navbar navbar-default">
					<div class="container-fluid">
						<div class="navbar-header">
						    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						        <span class="sr-only">Toggle navigation</span>
						        <span class="icon-bar"></span>
						        <span class="icon-bar"></span>
						        <span class="icon-bar"></span>
						    </button>
						</div>
						<div id="navbar" class="navbar-collapse collapse">
						    <div class="col-md-4"><a href="#index"><img src="img/color_logo.png" class="mlogo" /></a></div>
						    <div class="col-md-6">
						    	<ul class="nav navbar-nav inner-nav navbar-adjust">
						        <li class="active"><a href="#/">Home<span class="sr-only">(current)</span></a></li>
						        <li><a href="#/offers">Offers</a></li>
						        <li><a href="#how-it-works">How it Works</a></li>
						        <li><a href="#join" class="post-offer">Post an offer</a></li>
						        <li><a href="" class="sign-in" data-toggle="modal" data-target="#myModal">Sign in</a></li>
						    	</ul>
						    </div>
						    <div class="col-md-2 scart">
						    	<a href="" ng-click="gocart()">
							    	<img src="img/cart.png" />
						    		<span ng-class="isProduct()" class="{{isDot}}"></span>
						    	</a>
						    </div>

						</div><!--/.nav-collapse -->
					</div><!--/.container-fluid -->
			    </nav>

			    <div class="">
			    	
			    </div>
			</div>

		</div>
		<pop-up></pop-up>

</div>