<div class="">
    <div class="container-fluid header">
        <div class="row">
            <div class="slider">
                <img src="img/ban.png" />
            </div>
        </div>

        <div class="top-oga">
            <div class="container">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						        <span class="sr-only">Toggle navigation</span>
						        <span class="icon-bar"></span>
						        <span class="icon-bar"></span>
						        <span class="icon-bar"></span>
						    </button>
                        </div>
                        <div id="navbar" class="navbar-collapse collapse">
                            <div class="col-md-4">
                                <a href="#index"><img src="img/logo.png" class="mlogo" /></a>
                            </div>
                            <div class="col-md-6">
                                <ul class="nav navbar-nav navbar-adjust">
                                    <li class="active"><a href="#/">Home<span class="sr-only">(current)</span></a></li>
                                    <li><a href="#/offers">Offers</a></li>
                                    <li><a href="" ng-click="runStack()">How it Works</a></li>
                                    <li><a href="#join" class="post-offer">Post an offer</a></li>
                                    <li><a href="#join" class="sign-in">Sign in</a></li>
                                </ul>
                            </div>
                            <div class="col-md-2 scart">
                                <a href="#index"><img src="img/icon-cart.png" /></a>
                            </div>

                        </div>
                        <!--/.nav-collapse -->
                    </div>
                    <!--/.container-fluid -->
                </nav>

                <div class="">

                </div>
            </div>
        </div>
    </div>
    <div class="trending-all" ng-if="productData.length > 0">
        <div class="trending-top">
            <h1 class="trend">Trending</h1>
        </div>
        <div class="trending">
            <div class="container">
                <div class="col-md-12 all-header">
                    <div class="col-md-4 no-padding">
                        <h2>trending offers</h2>
                    </div>
                    <div class="col-md-8 vertical-divide"></div>
                </div>
                <div class="col-md-12 trending-products">
                    <!-- <single-product product-detail = "addCarter()" product-data = "productData"></single-product> -->
                    <div class="col-md-3" ng-repeat="productsData in productData">
                        <!--<div class="col-md-3" ng-repeat="productsData in productData | topFreeProduct: 'top trending' | limitTo: 4">-->
                        <div class="all-sha" ng-click="productDetail(productsData._id)">
                            <div class="product-img-holder">
                                <img src="uploads/{{productsData.profilePic}}" />
                            </div>
                            <div class="product-info">
                                <h2 class="product-name">{{productsData.name}}</h2>
                                <p>{{productsData.category.name}} | {{productsData.productManager.location}}</p>
                                <div class="price-btn">
                                    <h2><span ng-if="productsData.inventorySettings.price !== 'FREE'">&#x20A6;</span>{{productsData.inventorySettings.price}} <span class="price-discount" ng-if="productsData.inventorySettings.discount">| <strike> &#x20A6;{{productsData.inventorySettings.discount}}</strike></span></h2>
                                    <div class="btn" ng-click="productDetail(productsData._id)">discover</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="top-free-all" ng-if="freeProductData.length > 0">
        <div class="trending-top">
            <h1 class="tf">Top&nbsp;Free</h1>
        </div>
        <div class="top-free">
            <div class="container">
                <div class="col-md-12 all-header">
                    <div class="col-md-3 no-padding">
                        <h2>top free</h2>
                    </div>
                    <div class="col-md-9 vertical-divide"></div>
                    <a href="#/offers">
                        <div class="see-all btn">See all <i class="fa fa-caret-right" aria-hidden="true"></i></div>
                    </a>
                </div>
                <div class="col-md-12 trending-products">
                    <!-- <top-free product-data = "productData"></top-free> -->
                    <div class="col-md-3" ng-repeat="freeProductsData in freeProductData">
                        <div class="all-sha">
                            <div class="product-img-holder">
                                <img src="uploads/{{freeProductsData.profilePic}}" />
                            </div>
                            <div class="product-info">
                                <h2 class="product-name">{{freeProductsData.name}}</h2>
                                <p>{{freeProductsData.category.name}} | {{freeProductsData.location}}</p>
                                <div class="price-btn">
                                    <h2><span ng-if="freeProductsData.inventorySettings.price !== 'FREE'">&#x20A6;</span>{{freeProductsData.inventorySettings.price}}</h2>
                                    <div class="btn" ng-click="productDetail(freeProductsData._id)">discover</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="top-discounted-all" ng-if="discountedProductData.length > 0">
        <div class="trending-top">
            <h1 class="discount">Discounted</h1>
        </div>
        <div class="top-discounted">
            <div class="container">
                <div class="col-md-12 all-header">
                    <div class="col-md-4 no-padding">
                        <h2>top discounted</h2>
                    </div>
                    <div class="col-md-8 vertical-divide"></div>
                    <a href="#/offers">
                        <div class="see-all btn">See all<i class="fa fa-caret-right" aria-hidden="true"></i></div>
                    </a>
                </div>
                <div class="col-md-12 trending-products">
                    <!-- <top-discounted product-data = "productData"></top-discounted> -->
                    <div class="col-md-3" ng-repeat="discountedProductsData in discountedProductData">
                        <div class="all-sha">
                            <img src="uploads/{{discountedProductsData.profilePic}}" />
                            <div class="product-info">
                                <h2 class="product-name">{{discountedProductsData.name}}</h2>
                                <p>{{discountedProductsData.category.name}} | {{discountedProductsData.location}}</p>
                                <div class="price-btn">
                                    <h2><span ng-if="discountedProductsData.inventorySettings.price !== 'FREE'">&#x20A6;</span>{{discountedProductsData.inventorySettings.price}} <span class="price-discount" ng-if="discountedProductsData.inventorySettings.discount">| <strike> &#x20A6;{{discountedProductsData.inventorySettings.discount}}</strike></span></h2>
                                    <div class="btn" ng-click="productDetail(discountedProductsData._id)">discover</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <get-app></get-app>

</div>

<below-footie></below-footie>