<div class="modal fade" id="myModal">
	<div class="container all-mode modal-content" >
		<h2>Sign in to your pronita account</h2>
		<form class="signin-form">
			<span><input type="email" placeholder="email" class="n-input" /></span>
			<span><input type="password" placeholder="passowrd" /></span>
			<span><input type="submit" value="signin" class="btn signin-btn" /></span>

			<a href="#/create-account"><p>forgot passowrd?</p></a>
		</form>

		<div class="col-md-12 no-account">
			<p>Don't have a Pronita account? <span>sign up</span></p>
		</div>
	</div>
</div>