<div class="offers-banner">
    <div class="container offer-banner-inner">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 offer-profile-img">
            <img src="img/profile.png" alt="">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 offer-username">
            <p>kemi olaosebikan</p><span><i class="fa fa-check-circle-o"></i></span>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 offer-tested">
            <p>Offers <span>6</span></p> |
            <p>Tested <span>0</span></p>
        </div>
    </div>
</div>
<div class="section-parent">
    <div class="container section-block">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 offer-header">
            <h2>Add Product Images</h2>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 image-input-upload" ng-repeat="imgUploadNum in imgUploadNums">
                <input type="file" id="img-file{{imgUploadNum}}" name="img-file1" class="inputfile" show-img="uploadUrl.img[imgUploadNum]" another-show="uploadUrled.img[imgUploadNum]" />
                <label class="img-upload" for="img-file{{imgUploadNum}}">
                    <div class="add-img" style="overflow: hidden;">
                        <img ng-src="{{uploadUrl.img[imgUploadNum]}}"  src="{{uploadUrled.img[imgUploadNum]}}" style="height: 100%"/>
                        <img ng-src="{{uploadUrl.img[imgUploadNum]}}"  style="height: 100%"/>
                    </div>
                </label>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 btn-area">
            <div class="btn post-btn" ng-click="uploadProdImg()">
                NEXT
            </div>
        </div>
    </div>

</div>






<!--<div class="offers-banner">
    <div class="container offer-banner-inner">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 offer-profile-img">
            <img src="img/profile.png" alt="">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 offer-username">
            <p>kemi olaosebikan</p><span><i class="fa fa-check-circle-o"></i></span>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 offer-tested">
            <p>Offers <span>6</span></p> |
            <p>Tested <span>0</span></p>
        </div>
    </div>
</div>
<div class="section-parent">
    <div class="container section-block">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 offer-header">
            <h2>Add Product Images</h2>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 image-input-upload">
                <input type="file" id="img-file1" name="img-file1" class="inputfile" show-img="images.name" />
                <label class="img-upload" for="img-file1">
                    <div class="add-img" style="overflow: hidden;">
                        <img  ng-src="{{imgFile('../img/add-plus.png')}}" src="" style="height: 100%"/>
                        
                    </div>
                </label>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 image-input-upload">
                <input type="file" id="img-file2" name="img-file2" class="inputfile" show-img="imgFile('../img/add-plus.png')" />
                <label class="img-upload" for="img-file2">
                    <div class="add-img" style="overflow: hidden;">
                        <img ng-src="{{imgFile('../img/add-plus.png')}}" src="" style="height: 100%"/>
                    </div>
                </label>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 image-input-upload">
                <input type="file" id="img-file3" class="inputfile" />
                <label class="img-upload" for="img-file3">
                    <div class="add-img" style="overflow: hidden;">
                        <img ng-src="{{imgFile('../img/add-plus.png')}}" src="" style="width: 100%"/>
                    </div>
                </label>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 image-input-upload">
                <input type="file" id="img-file4" class="inputfile" />
                <label class="img-upload" for="img-file4">
                    <div class="add-img" style="overflow: hidden;">
                        <img ng-src="{{imgFile('../img/add-plus.png')}}" src="" style="width: 100%"/>
                    </div>
                </label>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 btn-area">
            <div class="btn post-btn" ng-click="uploadProdImg()">
                POST OFFER
            </div>
        </div>
    </div>

</div>-->