<headie></headie>

<div class="search-bar">
    <div class="container">
        <div class="col-md-12">
            <div class="col-md-1 search-icon-daddy"><i class="fa fa-search turn-search"></i></div>
            <div class="col-md-10">
                <input type="text" placeholder="search offers" class="search-input" />
            </div>
        </div>
    </div>
</div>
<div class="side-bar">
    <div class="container">
        <!-- <div class="col-md-12">
			<h2>categories</h2>
		</div>
		<div class="col-md-12">
			<div class="col-md-8">
				<h2>agriculture</h2>
			</div>
			<div class="col-md-2">
				<img src="img/agric.png" />
			</div>
		</div> -->

        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="cntrlNav()"><!-- <img src="img/categories.png"/> --></a>

            <div class="">
                <h2>categories</h2>
            </div>

            <ul>
                <li>
                    <p>agriculture</p>
                    <img src="img/agric.png" />
                </li>
                <li>
                    <p>art &amp; entertainment</p>
                    <img src="img/entertainment.png" />
                </li>
                <li>
                    <p>baby, toys &amp; kids</p>
                    <img src="img/baby.png" />
                </li>
                <li>
                    <p>beauty &amp; care</p>
                    <img src="img/beauty.png" />
                </li>
                <li>
                    <p>education</p>
                    <img src="img/education.png" />
                </li>
                <li>
                    <p>fashion</p>
                    <img src="img/fashion.png" />
                </li>
                <li>
                    <p>food &amp; drinks</p>
                    <img src="img/fodd.png" />
                </li>
                <li>
                    <p>gadgets &amp; appliances</p>
                    <img src="img/gadgets.png" />
                </li>
                <li>
                    <p>games &amp; books</p>
                    <img src="img/games.png" />
                </li>
                <li>
                    <p>healthcare</p>
                    <img src="img/health.png" />
                </li>
                <li>
                    <p>office &amp; school</p>
                    <img src="img/office.png" />
                </li>
                <li>
                    <p>home &amp; kitchen</p>
                    <img src="img/kitchen.png" />
                </li>
                <li>
                    <p>software</p>
                    <img src="img/software.png" />
                </li>
                <li>
                    <p>sports &amp; nutrition</p>
                    <img src="img/sport.png" />
                </li>
                <li>
                    <p>others</p>
                    <img src="img/more.png" class="others-more" />
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="trendin" id="main">
    <div class="container">
        <div class="col-md-12 offer-tab">
            <span><a href="" onclick="cntrlNav()"><img id="open_close" src="img/categories.png"/></span></a>
            <span>
				<ul>
					<a href="" ng-click="checkPos(0, 'trending')"><li ng-class="{'selected': offerLink.trending}">all</li></a>
					<a href="" ng-click="checkPos(1, 'free')"><li ng-class="{'selected': offerLink.free}">free</li></a>
					<a href="" ng-click="checkPos(2, 'discounted')"><li ng-class="{'selected': offerLink.discounted}">Discounted</li></a>
				</ul>
			</span>
        </div>
    </div>
    <div class="offer-line" id="liner"></div>
    <div class="container">
        <div class="col-md-12 trending-products offer-show">
            <!-- <single-product product-data = "productData"></single-product> -->
            <div class="col-md-3" ng-repeat="productsData in productData | topFreeProduct: filt | limitTo: 12">
                <div class="all-sha">
                    <img src="{{productsData.img}}" />
                    <div class="product-info">
                        <h2 class="product-name">{{productsData.name}}</h2>
                        <p>{{productsData.category}} | {{productsData.location}}</p>
                        <div class="price-btn">
                            <h2>&#8358;{{productsData.amount}}</h2>
                            <div class="btn" ng-click="productDetail()">discover</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="offer-next">
                <span class="the-next">next page</span>
                <span><img src="img/next-card.png" /></span>
                <div class="offer-next-divide"></div>
            </div>
            <div class="paginationed">
                <p><strong>1</strong></p>of
                <p>13</p>
            </div>
        </div>
    </div>
</div>
<div class="trending-all">
    <div class="trending-top">
        <h1 class="trend">Trending</h1>
    </div>
    <div class="trending">
        <div class="container">
            <div class="col-md-12 all-header">
                <div class="col-md-4 no-padding">
                    <h2>trending offers</h2>
                </div>
                <div class="col-md-8 vertical-divide"></div>
            </div>
            <div class="col-md-12 trending-products">
                <!-- <single-product product-data = "productData"></single-product> -->
                <div class="col-md-3" ng-repeat="productsData in productData | topFreeProduct: 'top trending' | limitTo: 4">
                    <div class="all-sha">
                        <img src="{{productsData.img}}" />
                        <div class="product-info">
                            <h2 class="product-name">{{productsData.name}}</h2>
                            <p>{{productsData.category}} | {{productsData.location}}</p>
                            <div class="price-btn">
                                <h2>&#8358;{{productsData.amount}}</h2>
                                <div class="btn" ng-click="productDetail()">discover</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="top-free-all">
    <div class="trending-top">
        <h1 class="tf">Top&nbspnew</h1>
    </div>
    <div class="top-free">
        <div class="container">
            <div class="col-md-12 all-header">
                <div class="col-md-3 no-padding">
                    <h2>top new</h2>
                </div>
                <div class="col-md-9 vertical-divide"></div>
                <div class="see-all btn">See all <i class="fa fa-caret-right" aria-hidden="true"></i></div>
            </div>
            <div class="col-md-12 trending-products">
                <!-- <single-product product-data = "productData"></single-product> -->
                <div class="col-md-3" ng-repeat="productsData in productData | topFreeProduct: 'top free' | limitTo: 4">
                    <div class="all-sha">
                        <img src="{{productsData.img}}" />
                        <div class="product-info">
                            <h2 class="product-name">{{productsData.name}}</h2>
                            <p>{{productsData.category}} | {{productsData.location}}</p>
                            <div class="price-btn">
                                <h2>&#8358;{{productsData.amount}}</h2>
                                <div class="btn" ng-click="productDetail()">discover</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<get-app></get-app>

<below-footie></below-footie>

<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "350px";
        document.getElementById("main").style.marginLeft = "250px";
        document.getElementById("open_close").src = "img/cross.png";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
        document.getElementById("open_close").src = "img/categories.png";
    }

    function cntrlNav() {
        console.log(document.getElementById("mySidenav").style.width);
        if (document.getElementById("mySidenav").style.width == "") {
            openNav();
        } else {
            closeNav();
            document.getElementById("mySidenav").style.width = "";
        }
    }
</script>