<div>
	
	<div class="col-md-12">
		<div class="payment-icon">
			<span><img src="img/Mastercard.png" /></span>
			<span><img src="img/visa.png" /></span>
			<span><img src="img/verve.png" /></span>
		</div>
		<div class="signup-form">
			<form>
				<span><input type="text" placeholder="card name" class="n-input" /></span>
				<span><input type="text" placeholder="card number" class="n-input" /></span>


				<span>
					<div class="two n-input plenty-two">
						<input type="text" placeholder="expiration" class="three n-input expiration" />
						<select class="three n-input exp exp-mnth">
							<option>MM</option>
						</select>
						<select class="three n-input exp exp-year">
							<option>YY</option>
						</select>	
					</div>
					<input type="text" placeholder="Security code" class="two n-input" />
				</span>
			</form>
			<div class="form-others">
				<p>By checking you agree with out <strong><a href="#">Terms and Conditions</a></strong></p>
				<h2 class="btn create-btn">Check out</h2>
			</div>
		</div>
	</div>

</div>