<headie></headie>
<div class="pricing-bg">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
	        	<div class="col-md-12 simple-pricing-header">
	        		<h2 class="">Simple Pricing &amp; Plans for all business</h2>
	        	</div>
	        </div>
		</div>
	</div>
</div>
<div class="price-display">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
	        	<div class="col-md-3 no-padding price-box">
	        		<div class="col-md-12 white-pricing-top pricing-top">
	        			<p class="basic-price">Basic</p>
	        			<h2>Free</h2>
	        		</div>
	        		<div class="col-md-12 pricing-info">
	        			<ul>
	        			    <li>Up to 10 Test Participants</li>
	        			    <li>1 Test Question Area</li>
	        			    <li>User reviews &amp; feedback</li>
	        			</ul>
	        			<div class="col-md-12">
		        			<p class="btn price-box-btn">choose plan</p>
	        			</div>
	        		</div>
	        	</div>
	        	<div class="col-md-3 no-padding price-box price-box-left">
	        		<div class="col-md-12 white-pricing-top pricing-top">
	        			<p class="up-start-price">up-start</p>
	        			<h2>N5000</h2>
	        		</div>
	        		<div class="col-md-12 pricing-info pricing-info-second">
	        			<ul>
	        			    <li>Up to 25 Test Participants</li>
	        			    <li>3 Test Question Areas</li>
	        			    <li>User reviews &amp; feedback</li>
	        			</ul>
	        			<div class="col-md-12">
		        			<p class="btn price-box-btn">choose plan</p>
	        			</div>
	        		</div>
	        	</div>
	        	<div class="col-md-3 preferred-pricing no-padding price-box price-box-right">
	        		<div class="col-md-12 colored-pricing-top pricing-top">
	        			<p class="business-price">Business</p>
	        			<h2 class="preffered-bus-price">N8000</h2>
	        		</div>
	        		<div class="col-md-12 pricing-info pricing-info-third">
	        			<ul>
	        			    <li>Up to 50 Test Participant</li>
	        			    <li>5 Test Question Areas</li>
	        			    <li>User reviews &amp; feedback</li>
	        			    <li>Access to in-house testers</li>
	        			</ul>
	        			<div class="col-md-12">
		        			<p class="btn price-box-btn">choose plan</p>
	        			</div>
	        		</div>
	        	</div>
	        	<div class="col-md-3 no-padding price-box">
	        		<div class="col-md-12 white-pricing-top pricing-top">
	        			<p class="enterprise-price">Enterprise</p>
	        			<h2>Custom</h2>
	        		</div>
	        		<div class="col-md-12 pricing-info pricing-info-fourth">
	        			<ul>
	        			    <li>Unlimited Test Participant</li>
	        			    <li>Unrestricted Test Questions</li>
	        			    <li>Dedicated production test Ad</li>
	        			</ul>
	        			<div class="col-md-12">
		        			<p class="btn price-box-btn">Request Quote</p>
	        			</div>
	        		</div>
	        	</div>
	        </div>
		</div>
	</div>
</div>

<div class="container">
    <div class="row">
    	<div class="col-md-12 features-table">
    		<div class="col-md-12 feature-table-row table-header-top">
    			<div class="col-md-4 feature-table-header">
    				<h2>Features</h2>
    			</div>
    			<div class="col-md-2">
    				<p class="basic-price">Basic</p>
    				<p>Free</p>
    				<p class="btn features-btn">Choose Plan</p>
    			</div>
    			<div class="col-md-2">
    				<p class="up-start-price">Up-Start</p>
    				<p>N5000</p>
    				<p class="btn features-btn">Choose Plan</p>
    			</div>
    			<div class="col-md-2">
    				<p class="check-bus-color">Business</p>
    				<p>N8000</p>
    				<p class="btn features-btn">Choose Plan</p>
    			</div>
    			<div class="col-md-2">
    				<p class="enterprise-price">Enterprise</p>
    				<p>Custom price</p>
    				<p class="btn features-btn">Contact Us</p>
    			</div>
    		</div>
    		<div class="col-md-12 feature-table-row feature-below">
    			<div class="col-md-4 feature-table-header">
    				<p>Test Participants</p>
    			</div>
    			<div class="col-md-2">
    				<p>Up to 10</p>
    			</div>
    			<div class="col-md-2">
    				<p>Up to 25</p>
    			</div>
    			<div class="col-md-2">
    				<p>Up to 50</p>
    			</div>
    			<div class="col-md-2">
    				<p>Unlimited</p>
    			</div>
    		</div>
    		<div class="col-md-12 feature-table-row feature-below">
    			<div class="col-md-4 feature-table-header">
    				<p>Test Question Areas</p>
    			</div>
    			<div class="col-md-2">
    				<p>1</p>
    			</div>
    			<div class="col-md-2">
    				<p>3</p>
    			</div>
    			<div class="col-md-2">
    				<p>5</p>
    			</div>
    			<div class="col-md-2">
    				<p>Unrestricted</p>
    			</div>
    		</div>
    		<div class="col-md-12 feature-table-row feature-below">
    			<div class="col-md-4 feature-table-header">
    				<p>Dedicated Customer Service</p>
    			</div>
    			<div class="col-md-2">
    				<p class="basic-price"><i class="fa fa-check" aria-hidden="true"></i></p>
    			</div>
    			<div class="col-md-2">
    				<p class="up-start-price"><i class="fa fa-check" aria-hidden="true"></i></p>
    			</div>
    			<div class="col-md-2">
    				<p class="check-bus-color"><i class="fa fa-check" aria-hidden="true"></i></p>
    			</div>
    			<div class="col-md-2">
    				<p class="enterprise-price"><i class="fa fa-check" aria-hidden="true"></i></p>
    			</div>
    		</div>
    		<div class="col-md-12 feature-table-row feature-below">
    			<div class="col-md-4 feature-table-header">
    				<p>Test Duration</p>
    			</div>
    			<div class="col-md-2">
    				<p>30 days</p>
    			</div>
    			<div class="col-md-2">
    				<p>30 days</p>
    			</div>
    			<div class="col-md-2">
    				<p>60 days</p>
    			</div>
    			<div class="col-md-2">
    				<p>Up to 6 months</p>
    			</div>
    		</div>
    		<div class="col-md-12 feature-table-row feature-below">
    			<div class="col-md-4 feature-table-header">
    				<p>Product Comments and Likes</p>
    			</div>
    			<div class="col-md-2">
    				<p class="basic-price"><i class="fa fa-check" aria-hidden="true"></i></p>
    			</div>
    			<div class="col-md-2">
    				<p class="up-start-price"><i class="fa fa-check" aria-hidden="true"></i></p>
    			</div>
    			<div class="col-md-2">
    				<p class="check-bus-color"><i class="fa fa-check" aria-hidden="true"></i></p>
    			</div>
    			<div class="col-md-2">
    				<p class="enterprise-price"><i class="fa fa-check" aria-hidden="true"></i></p>
    			</div>
    		</div>
    		<div class="col-md-12 feature-table-row feature-below">
    			<div class="col-md-4 feature-table-header">
    				<p>User Reviews &amp; Feedback</p>
    			</div>
    			<div class="col-md-2">
    				<p class="basic-price"><i class="fa fa-check" aria-hidden="true"></i></p>
    			</div>
    			<div class="col-md-2">
    				<p class="up-start-price"><i class="fa fa-check" aria-hidden="true"></i></p>
    			</div>
    			<div class="col-md-2">
    				<p class="check-bus-color"><i class="fa fa-check" aria-hidden="true"></i></p>
    			</div>
    			<div class="col-md-2">
    				<p class="enterprise-price"><i class="fa fa-check" aria-hidden="true"></i></p>
    			</div>
    		</div>
    		<div class="col-md-12 feature-table-row feature-below">
    			<div class="col-md-4 feature-table-header">
    				<p>Access to product analytics and market analysis</p>
    			</div>
    			<div class="col-md-2">
    				<p class="basic-price"><i class="fa fa-check" aria-hidden="true"></i></p>
    			</div>
    			<div class="col-md-2">
    				<p class="up-start-price"><i class="fa fa-check" aria-hidden="true"></i></p>
    			</div>
    			<div class="col-md-2">
    				<p class="check-bus-color"><i class="fa fa-check" aria-hidden="true"></i></p>
    			</div>
    			<div class="col-md-2">
    				<p class="enterprise-price"><i class="fa fa-check" aria-hidden="true"></i></p>
    			</div>
    		</div>
    		<div class="col-md-12 feature-table-row feature-below">
    			<div class="col-md-4 feature-table-header">
    				<p>Test question customization</p>
    			</div>
    			<div class="col-md-2">
    				<p class="basic-price">-</p>
    			</div>
    			<div class="col-md-2">
    				<p class="up-start-price"><i class="fa fa-check" aria-hidden="true"></i></p>
    			</div>
    			<div class="col-md-2">
    				<p class="check-bus-color"><i class="fa fa-check" aria-hidden="true"></i></p>
    			</div>
    			<div class="col-md-2">
    				<p class="enterprise-price"><i class="fa fa-check" aria-hidden="true"></i></p>
    			</div>
    		</div>
    		<div class="col-md-12 feature-table-row feature-below">
    			<div class="col-md-4 feature-table-header">
    				<p>Access to in-house testers</p>
    			</div>
    			<div class="col-md-2">
    				<p class="basic-price">-</p>
    			</div>
    			<div class="col-md-2">
    				<p class="up-start-price">-</p>
    			</div>
    			<div class="col-md-2">
    				<p class="check-bus-color"><i class="fa fa-check" aria-hidden="true"></i></p>
    			</div>
    			<div class="col-md-2">
    				<p class="enterprise-price"><i class="fa fa-check" aria-hidden="true"></i></p>
    			</div>
    		</div>
    		<div class="col-md-12 feature-table-row feature-below">
    			<div class="col-md-4 feature-table-header">
    				<p>Dedicated product test ad on Pronita</p>
    			</div>
    			<div class="col-md-2">
    				<p class="basic-price">-</p>
    			</div>
    			<div class="col-md-2">
    				<p class="up-start-price">-</p>
    			</div>
    			<div class="col-md-2">
    				<p class="check-bus-color">-</p>
    			</div>
    			<div class="col-md-2">
    				<p class="enterprise-price"><i class="fa fa-check" aria-hidden="true"></i></p>
    			</div>
    		</div>
    	</div>
    </div>
</div>

<get-app></get-app>

<below-footie></below-footie>