<div class="offers-banner">
    <div class="container offer-banner-inner">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 offer-profile-img qn-header">
            <h2>Question Selection</h2>
            <p>Choose review questions you want users to answers after testing your product</p>
        </div>
    </div>
</div>
<div class="section-parent">
    <div class="container">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 offer-header">
            <h2><span>Step 1 of 2:</span> Select up to 5 questions areas</h2>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding question-select">
            <!-- FIRST ROLE -->
            <div class="col-md-12 question-select-role">
                <div class="col-md-3">
                    <div class="question-card">
                        <div class="col-md-12 input-select">
                            <input type="checkbox" id="qn-check" name="qn-check" />
                            <label for="qn-check"><span></span></label>
                            <p>Select</p>
                        </div>
                        <div class="col-md-12">
                            <h2>Product Design &amp; Packaging</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="question-card">
                        <div class="col-md-12 input-select">
                            <input type="checkbox" id="qn-check1" name="qn-check1" />
                            <label for="qn-check1"><span></span></label>
                            <p>Select</p>
                        </div>
                        <div class="col-md-12">
                            <h2>Product Functionality &amp; Features</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="question-card">
                        <div class="col-md-12 input-select">
                            <input type="checkbox" id="qn-check2" name="qn-check2" />
                            <label for="qn-check2"><span></span></label>
                            <p>Select</p>
                        </div>
                        <div class="col-md-12">
                            <h2>Product Performance</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="question-card">
                        <div class="col-md-12 input-select">
                            <input type="checkbox" id="qn-check3" name="qn-check3" />
                            <label for="qn-check3"><span></span></label>
                            <p>Select</p>
                        </div>
                        <div class="col-md-12">
                            <h2>Product Competition</h2>
                        </div>
                    </div>
                </div>
            </div>

            <!-- SECOND ROLE -->
            <div class="col-md-12 question-select-role">
                <div class="col-md-3">
                    <div class="question-card">
                        <div class="col-md-12 input-select">
                            <input type="checkbox" id="qn-check4" name="qn-check4" />
                            <label for="qn-check4"><span></span></label>
                            <p>Select</p>
                        </div>
                        <div class="col-md-12">
                            <h2>Product Qaulity</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="question-card">
                        <div class="col-md-12 input-select">
                            <input type="checkbox" id="qn-check5" name="qn-check5" />
                            <label for="qn-check5"><span></span></label>
                            <p>Select</p>
                        </div>
                        <div class="col-md-12">
                            <h2>Product Usability</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="question-card">
                        <div class="col-md-12 input-select">
                            <input type="checkbox" id="qn-check6" name="qn-check6" />
                            <label for="qn-check6"><span></span></label>
                            <p>Select</p>
                        </div>
                        <div class="col-md-12">
                            <h2>Value Created Benefits</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="question-card">
                        <div class="col-md-12 input-select">
                            <input type="checkbox" id="qn-check7" name="qn-check7" />
                            <label for="qn-check7"><span></span></label>
                            <p>Select</p>
                        </div>
                        <div class="col-md-12">
                            <h2>Product Durability</h2>
                        </div>
                    </div>
                </div>
            </div>

            <!-- THIRD ROLE -->
            <div class="col-md-12 question-select-role">
                <div class="col-md-3">
                    <div class="question-card">
                        <div class="col-md-12 input-select">
                            <input type="checkbox" id="qn-check8" name="qn-check8" />
                            <label for="qn-check8"><span></span></label>
                            <p>Select</p>
                        </div>
                        <div class="col-md-12">
                            <h2>Product Design &amp; Packaging</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="question-card">
                        <div class="col-md-12 input-select">
                            <input type="checkbox" id="qn-check9" name="qn-check9" />
                            <label for="qn-check9"><span></span></label>
                            <p>Select</p>
                        </div>
                        <div class="col-md-12">
                            <h2>Product Functionality &amp; Features</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="question-card">
                        <div class="col-md-12 input-select">
                            <input type="checkbox" id="qn-check10" name="qn-check10" />
                            <label for="qn-check10"><span></span></label>
                            <p>Select</p>
                        </div>
                        <div class="col-md-12">
                            <h2>Product Performance</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="question-card">
                        <div class="col-md-12 input-select">
                            <input type="checkbox" id="qn-check11" name="qn-check11" />
                            <label for="qn-check11"><span></span></label>
                            <p>Select</p>
                        </div>
                        <div class="col-md-12">
                            <h2>Product Competition</h2>
                        </div>
                    </div>
                </div>
            </div>

            <!-- FOURTH ROLE -->
            <div class="col-md-12 question-select-role">
                <div class="col-md-3">
                    <div class="question-card">
                        <div class="col-md-12 input-select">
                            <input type="checkbox" id="qn-check12" name="qn-check12" />
                            <label for="qn-check12"><span></span></label>
                            <p>Select</p>
                        </div>
                        <div class="col-md-12">
                            <h2>Product Qaulity</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="question-card">
                        <div class="col-md-12 input-select">
                            <input type="checkbox" id="qn-check13" name="qn-check13" />
                            <label for="qn-check13"><span></span></label>
                            <p>Select</p>
                        </div>
                        <div class="col-md-12">
                            <h2>Product Usability</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="question-card">
                        <div class="col-md-12 input-select">
                            <input type="checkbox" id="qn-check14" name="qn-check14" />
                            <label for="qn-check14"><span></span></label>
                            <p>Select</p>
                        </div>
                        <div class="col-md-12">
                            <h2>Value Created Benefits</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="question-card">
                        <div class="col-md-12 input-select">
                            <input type="checkbox" id="qn-check15" name="qn-check15" />
                            <label for="qn-check15"><span></span></label>
                            <p>Select</p>
                        </div>
                        <div class="col-md-12">
                            <h2>Product Durability</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 btn-area">
            <div class="btn post-btn" ng-click="uploadProdImg()">
                SAVE &amp; CONTINUE
            </div>
        </div>
    </div>

</div>






<!--<div class="offers-banner">
    <div class="container offer-banner-inner">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 offer-profile-img">
            <img src="img/profile.png" alt="">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 offer-username">
            <p>kemi olaosebikan</p><span><i class="fa fa-check-circle-o"></i></span>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 offer-tested">
            <p>Offers <span>6</span></p> |
            <p>Tested <span>0</span></p>
        </div>
    </div>
</div>
<div class="section-parent">
    <div class="container section-block">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 offer-header">
            <h2>Add Product Images</h2>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 image-input-upload">
                <input type="file" id="img-file1" name="img-file1" class="inputfile" show-img="images.name" />
                <label class="img-upload" for="img-file1">
                    <div class="add-img" style="overflow: hidden;">
                        <img  ng-src="{{imgFile('../img/add-plus.png')}}" src="" style="height: 100%"/>
                        
                    </div>
                </label>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 image-input-upload">
                <input type="file" id="img-file2" name="img-file2" class="inputfile" show-img="imgFile('../img/add-plus.png')" />
                <label class="img-upload" for="img-file2">
                    <div class="add-img" style="overflow: hidden;">
                        <img ng-src="{{imgFile('../img/add-plus.png')}}" src="" style="height: 100%"/>
                    </div>
                </label>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 image-input-upload">
                <input type="file" id="img-file3" class="inputfile" />
                <label class="img-upload" for="img-file3">
                    <div class="add-img" style="overflow: hidden;">
                        <img ng-src="{{imgFile('../img/add-plus.png')}}" src="" style="width: 100%"/>
                    </div>
                </label>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 image-input-upload">
                <input type="file" id="img-file4" class="inputfile" />
                <label class="img-upload" for="img-file4">
                    <div class="add-img" style="overflow: hidden;">
                        <img ng-src="{{imgFile('../img/add-plus.png')}}" src="" style="width: 100%"/>
                    </div>
                </label>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 btn-area">
            <div class="btn post-btn" ng-click="uploadProdImg()">
                POST OFFER
            </div>
        </div>
    </div>

</div>-->