<div class="housemaster">
	
	<div class="col-md-12 shipping-form-main">
		<div class="signup-form">
			<form>
				<span><input type="text" placeholder="Full name" class="n-input" /></span>
				
				<span><input type="password" placeholder="email" class="two n-input" />
				<input type="password" placeholder="phone" class="two n-input" /></span>


				<span><input type="text" placeholder="street address" class="n-input" /></span>
				<span><input type="password" placeholder="city/town" class="two n-input" />
				<input type="password" placeholder="zip/postal code" class="two n-input" /></span>

				<span>
					<select class="two n-input">
						<option>State</option>
					</select>
					<select class="two n-input">
						<option>Country</option>
					</select>
				</span>
			</form>
			<div class="form-others">
				<h2 class="btn create-btn">Continue</h2>
			</div>
		</div>
	</div>

</div>