<div class="housemaster">


	<div class="col-md-12 signin-shop" ng-hide="noAccount">
	<h2 class="signup-header"> Sign In</h2>
		<div class="signup-form">
			<form>
				<span><input type="email" placeholder="email" class="n-input" /></span>
				<span><input type="password" placeholder="password" class="n-input" /></span>
			</form>
			<div class="form-others">
				<h2 class="btn create-btn">continue</h2>
				<p class="forgot">Forgot Password?</p>

				<div class="vertical-divide acount-divide"></div>

				<div class="signin-area">
					<p class="get-acc">Don't have a pronita account?</p>
					<h2 class="btn signup-btn" ng-click="noAccount = true">sign up</h2>
				</div>
			</div>
		</div>
	</div>


	
	<div class="col-md-12" ng-show="noAccount">
		<h2 class="signup-header"> Sign Up</h2>
		<div class="signup-form">
			<form>
				<span><input type="text" placeholder="Full name" class="n-input" /></span>
				<span><input type="text" placeholder="username" class="n-input" /></span>
				<span><input type="text" placeholder="location" class="n-input" /></span>
				<span><input type="email" placeholder="email" class="n-input" /></span>
				<span><input type="password" placeholder="password" class="two n-input" />
				<input type="password" placeholder="confirm password" class="two n-input" /></span>
			</form>
			<div class="form-others">
				<p>By Checking out you agree with our <strong><a href="#">Terms&Conditions</a></strong></p>
				<h2 class="btn create-btn">create account</h2>

				<div class="vertical-divide acount-divide"></div>

				<div class="signin-area">
					<span><p>Already have a pronita account?</p></span>
					<span><h2 class="btn sign-btn" ng-click="noAccount = false">sign in</h2></span>
				</div>
			</div>
		</div>
	</div>

</div>