<div>
	
	<div class="col-md-12">
		<div class="listing-header">
			<div class="col-md-5 listing-header-product lh-child">
				<p>product</p>
			</div>
			<div class="col-md-2 listing-header-delivery lh-child">
				<p>delivery</p>
			</div>
			<div class="col-md-2 listing-header-quantity lh-child">
				<p>quantity</p>
			</div>
			<div class="col-md-3 listing-header-price lh-child">
				<p>unit price</p>
			</div>
		</div>
		<div class="listing-product" ng-repeat="products in productName()">
			<div class="col-md-5">
				<img src="img/product-display.png" class="product-img" />
				<div class="listed-product-info">
					<h2>{{products.productName}}</h2>
					<p>testing period:<strong>{{products.productTestPeriod}}</strong></p>
				</div>
			</div>
			<div class="col-md-2 listing-statement">
				<p>{{products.productDelivery}}</p>
			</div>
			<div class="col-md-2 listing-statement">
				<p class="product-num">{{products.productQunatity}}</p>
				<div class="up-down-btn">
					<a href="" ng-click="moreQuantity()"><img src="img/drop_down.png" class="up-btn " /></a>
					<a href="" ng-click="lessQuantity()"><img src="img/drop_down.png" class="down-btn" /></a>
				</div>
			</div>
			<div class="col-md-3 listing-statement lisitng-product-price">
				<p><strike>N28,000</strike></p>
				<p>{{products.proudctPrice}}</p>
				<p class="btn" ng-click="buttonClose()">X</p>
			</div>
		</div>

	</div>
	<div class="col-md-12">
		<div class="product-summary listing-product">
			<div class="col-md-6">
			<div class="number-product">
				<h2> 3 products</h2>
			</div>
			</div>
			<div class="col-md-6">
				<div class="product-total">
					<p>total:</p>
					<h2>N410,000.00</h2>
				</div>
			</div>
		</div>

		<div class="get-more-product listing-product">
			<div class="col-md-6">
				<p class="btn more-offers">browse more offers <span><i class="fa fa-caret-right"></i></p>
			</div>
			<div class="col-md-6">
				<div class="coupon">
					<input type="text" placeholder="discount coupon" />
					<p class="btn">continue</p>
				</div>
			</div>
		</div>
	</div>

</div>



