<!doctype html>
<html ng-app="Pronita">
    <head>
        <title>Pronita ::Home</title>

        <link rel="stylesheet" type="text/css" href="/components/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/components/font-awesome/css/font-awesome.min.css" />
        

        <link rel="stylesheet" type="text/css" href="/components/font-awesome/fonts/FontAwesome.otf" />

        <link rel="stylesheet" type="text/css" href="css/style.css" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    <body>
        <ng-view></ng-view>
    </body>
    <script type="text/javascript" src="/components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/components/bootstrap/dist/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="/components/angular/angular.min.js"></script>
    <script type="text/javascript" src="/components/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="/components/angular-resource/angular-resource.min.js"></script>

    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/routes/mainrouter.js"></script>
    <script type="text/javascript" src="js/directives/maindirective.js"></script>
    <script type="text/javascript" src="js/services/mainService.js"></script>
    <script type="text/javascript" src="js/services/addcartservice.js"></script>
    <script type="text/javascript" src="js/controllers/homecontroller.js"></script>
    <script type="text/javascript" src="js/controllers/offercontroller.js"></script>
    <script type="text/javascript" src="js/controllers/productcontroller.js"></script>
    <script type="text/javascript" src="js/controllers/cartcontroller.js"></script>
    <script type="text/javascript" src="js/controllers/user.js"></script>
    <script type="text/javascript" src="js/controllers/createaccountcontroller.js"></script>
    <script type="text/javascript" src="js/controllers/productuploadcontroller.js"></script>
    <script type="text/javascript" src="js/controllers/paystack.js"></script>
    <!-- <script src="https://js.paystack.co/v1/inline.js"></script> -->

    
</html>
